
h2{
    text-align: center;
    margin: 40px;
    margin-left: 120px;
}

.nav-tabs{
    display: flex;
    justify-content: center;
}

.nav-tabs > li{
    display: flex;
    justify-content: center;
    width: 20%;
}

.nav-tabs > li a{
    display: flex;
    justify-content: center;
    width: 100%;
}



#home, #menu1 {
    margin: auto;
    margin-left: 400px;
    margin-top: 50px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}


